<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="order$ | async as order">
      <img src="http://placehold.it/300x100/">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
        <ion-card-title>
          {{trader.name }}
      </ion-card-title>
              <h3>Placed: {{order.orderDate | date: 'dd/MM/yyyy'}}
              </h3>
            </ion-col>
            <ion-col>
              <ion-list>
                <button ion-item>
                  <ion-icon name="call" item-start small></ion-icon>
                  {{trader.phone }}
                </button>
                <button ion-item>
                  <ion-icon name="mail" item-start small></ion-icon>
                  {{trader.email }}
                </button>
              </ion-list>
            </ion-col>
          </ion-row>

        </ion-grid>
        <ion-list>
          <ion-item *ngFor="let p of products$ | async">
            {{p.name}} <ion-note>{{p.qty}} cartons ${{p.price}}</ion-note>
          </ion-item>
        </ion-list>
         <h3> Total: ${{order.total}}</h3>
        <button ion-button (click)="prep(order)">Prepare Order for Shipping</button>
<ion-list>
    <ion-item>
      <ion-label>Approved: {{order.approvedDate | date: 'dd/MM/yyy'}} <span *ngIf="!order.approved">Pending</span> </ion-label>
      <ion-toggle item-start checked={{order.approved}} (ionChange)="op.progressOrder(order.id, 'approved', order.approved)" *ngIf="busType ==='Producer'" [disabled]="order.approved"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Shipped: {{order.shippedDate | date: 'dd/MM/yyy'}}<span *ngIf="!order.shipped">Pending</span></ion-label>
    <ion-toggle item-start checked={{order.shipped}} (ionChange)="op.progressOrder(order.id, 'shipped', order.shipped)" *ngIf="busType ==='Producer'" [disabled]="order.shipped"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Received: {{order.receivedDate | date: 'dd/MM/yyy'}}<span *ngIf="!order.received">Pending</span></ion-label>
    <ion-toggle item-start checked={{order.received}} (ionChange)="op.progressOrder(order.id, 'received', order.received, order.rid, order.products)" *ngIf="busType ==='Retailer'" [disabled]="order.received"></ion-toggle>
  </ion-item>
</ion-list>

      </ion-card-content>

  </ion-card>

</ion-content>
