<!--
  Generated template for the BusinessFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>businessForm</ion-title>
  </ion-navbar>

</ion-header>


  <ion-content padding class="business-form-page" #businessProfile>

      <form [formGroup]="businessForm" (ngSubmit)="editBusiness()">
  
        <h3>Business Details</h3>
  

        <ion-item>
          <ion-label stacked>Your Business Name</ion-label>
          <ion-input formControlName="name" type="text" placeholder="Firstname">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!businessForm.controls.name.valid && !businessForm.controls.name.pristine">
          <p>Please enter a valid name.</p>
        </ion-item>
  
        <ion-item>
          <ion-label stacked>Your Website</ion-label>
          <ion-input formControlName="website" type="text" placeholder="Lastname">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!businessForm.controls.website.valid && !businessForm.controls.website.pristine">
          <p>Please enter a valid name.</p>
        </ion-item>
  
  
        <ion-item>
          <ion-label stacked>Phone Number</ion-label>
          <ion-input formControlName="phone" type="tel" placeholder="XXXX XXX XXX">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!businessForm.controls.phone.valid && !businessForm.controls.phone.pristine">
          <p>Please enter a valid phone number.</p>
        </ion-item>

        <ion-item>
          <ion-label stacked>Your Contact Email address</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Your email address">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!businessForm.controls.email.valid && !businessForm.controls.email.pristine">
          <p>Please enter a valid email address.</p>
        </ion-item>
  
        <ion-item>
          <ion-label stacked>Business Type</ion-label>
          <ion-select interface="popover" formControlName="type">
            <ion-option value="retailer">Retailer</ion-option>
            <ion-option value="producer">Producer</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="error-message" *ngIf="!businessForm.controls.type.valid">
          <p>You have to select a business type</p>
        </ion-item>
  
        <button ion-button type="submit" [disabled]="!businessForm.valid">Submit</button>
  
      </form>
</ion-content>
