<!--
  Generated template for the productsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Products</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button *ngIf="user.busType  == 'Producer'" ion-button item-end icon-only (click)="create()"><ion-icon small name="add-circle"></ion-icon></button>
    <button *ngIf="user.busType == 'Retailer'" ion-button block (click)="openList('Short')">Open Shortlist</button>

  <ion-item-group *ngFor="let group of productsList | async | groupBy: 'variety' | pairs ">
    <ion-item-divider color="light">{{group[0] | ucfirst}}</ion-item-divider>

    <ion-item-group *ngFor="let products of group[1] | groupBy: business | pairs">
      <ion-item-divider>{{products[0]}}</ion-item-divider>
      <ion-item *ngFor="let product of products[1] ">
        <h3 (click)="detail(product.id)">{{ product.name}}</h3>
        <button ion-button left (click)="addToList('shortlist', product)" color="light"><ion-icon name="clipboard"></ion-icon>Shortlist </button>
        <button ion-button right (click)="addToList('winelist', product)" color="danger"><ion-icon name="trash"></ion-icon>Winelist</button>

      </ion-item>
    </ion-item-group>
  </ion-item-group>

</ion-content>
