<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item-group *ngFor="let group of ordersList | async | groupBy: 'status' | pairs ">
    <ion-item-divider color="light">{{group[0] | ucfirst}}</ion-item-divider>

    <ion-item *ngFor="let order of group[1] | orderBy:'updatedAt'">
      <span (click)="detail(order.id)">{{ order.prodName }} {{ order.orderDate }}</span><ion-note>{{order.total}}</ion-note>
      <!--
      <button ion-button left (click)="receive(order)" color="light"><ion-icon name="clipboard"></ion-icon>Receive </button>
      <button ion-button right (click)="accept(order)" color="light"><ion-icon name="clipboard"></ion-icon>Accept </button>
      <button ion-button right (click)="ship(order)" color="danger"><ion-icon name="trash"></ion-icon>Ship</button>
      -->
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    
  </ion-item-group>

</ion-content>
